#prototype-banner {
  background: #005ea5;
  border-bottom: none;
  color: #fff;
  padding: 15px 0;
}

#prototype-banner .wrapper {
  max-width: 960px;
  margin: 0 30px;
}

@media (min-width: 641px) {
  #prototype-banner .wrapper {
    margin: 0 20px;
  }
}

@media (min-width: 1020px) {
  #prototype-banner .wrapper {
    margin: 0 auto;
  }
}

#prototype-banner .wrapper h2 {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.25em;
  margin-bottom: 0;
  margin-top: 0;
}

#prototype-banner .wrapper h2 a {
  color: #fff;
}

#prototype-banner ..wrapper h2 a[rel="external"]:after {
  color: #fff !important;
  background-position-y: 4px;
}
