<header role="banner" id="global-header" class="">
  <div class="header-wrapper">
    <div class="header-global">
      <div class="header-logo">
        <a href=""{{ "/" | prepend: site.baseurl }}"" title="Go to the GOV.UK homepage" id="logo" class="content">
        <img src="/images/gov.uk_logotype_crown_invert_trans.png" width="35" height="31" alt=""> GOV.UK
        </a>
      </div>
      <a href="https://www.gov.uk/starting-to-export#search" class="search-toggle js-header-toggle">Search</a>
      <form id="search" class="site-search" action="https://www.gov.uk/search" method="get" role="search">
        <div class="content">
          <label for="site-search-text">Search</label>
          <input type="search" name="q" id="site-search-text" title="Search" class="js-search-focus">
          <input class="submit" type="submit" value="Search">
        </div>
      </form>
    </div>
  </div>
</header>
<!--end header-->
